* {
  box-sizing:border-box;
}

body {
  background-color:#64B5F6;
  color: white;
  margin:0;
  padding:0;
  font: 13px Roboto;
}

.wrapper {
  width:100vw;
  height:100vh;
  margin:0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}


header {
  height:60px;
  background-color: rgba(0, 0, 0, 0);
}

#form {
  align-self:center;
  display:flex;
  flex-direction: column;
}

#form .logo {
  align-self: center;
  margin:5px;
  height:60px;
}

#form .logo img {
  height:inherit;
}

form input {
  display:block;
  border: 1px solid white;
  height:35px;
  width:250px;
  margin:0 0 12px 0;
  padding:0 6px;
  border-radius: 4px;
}

form input[type=button] {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color:white;
  transition: 0.5s linear;
}

form input[type=button]:hover {
  background-color: rgba(255, 255, 255, 1);
  color:#64B5F6;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color:white;
  transition: 0.5s linear;
  border: 1px solid white;
  height:35px;
  width:250px;
  margin:0 0 12px 0;
  padding:0 6px;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
  color:#64B5F6;
}

footer {
  height:50px;
  text-align:center;
}

footer a, footer a:visited {
  color:white;
}

footer a {
  text-decoration:none;
  transition: 0.5s linear;
}

footer a:hover {
  color:black;
}
