/** TITULO **/

.title {
  text-align: center;
  height:40px;
  margin:20px 0;
  color: #64B5F6;
  font-size: 30pt;
  font-family: 'Oleo Script';
}

/** PERFIL **/
.profile {
  width:600px;
  height:100%;
  padding: 14px;
  border:solid 1px #64B5F6;
  border-radius: 7px;
  box-shadow:1px 1px 10px #64B5F6,
            -1px -1px 10px #64B5F6;
}

/** INFORMACIóN **/

.profile{
    padding: 50px;
}

.profile .pic{
    float:left;
    height: 400px;
}

.profile .pic img{
  height:150px;
  width:150px;
}

.profile .info{
  height: 400px;
  float:left;
  font-size:14px;
  margin-left: 30px;;
  font-family: 'Roboto';
}
